<!-- #sec8 features -->
<section id="features" class="py-10 mt-14 px-3">
    <div class="text-right">
        <!-- steps Heading -->
        <h6 class="text-[35px] sm:text-[64px] font-extrabold text-[#424356] leading-[200%] mb-5  rtl:text-right ltr:text-left" ">
                                            {{ __('messages.features') }}
                                        </h6>
                                        <!-- Descriptive Text -->
                                        <p
                                            class=" rtl:text-right ltr:text-left text-responsive text-[#424356]
            sm:text-[18px] text-[14px] font-medium leading-[36.54px] w-[672px] ">
                                            {{ __('messages.seamless_functions') }}
                                        </p>
                                    </div>

                                    <!-- for desktop -->
                                    <div class=" items-fetures flex flex-col mt-36">
            <div class="flex items-center justify-between">
                <div>
                    <p
                        class="text-[#424356] text-[36px] font-extrabold leading-[200%] mb-5 rtl:text-right ltr:text-left">
                        {{ __('messages.ui_elements') }}
                    </p>
                </div>
                <div class="w-[525px]">
                    <p class="text-[#424356] text-[18px] font-normal leading-[200%] mb-5 rtl:text-right ltr:text-left">
                        {{ __('messages.custom_solutions') }}
                    </p>
                </div>
            </div>

            <div class="w-full h-[1px] bg-[#424356] my-10"></div>

            <div class="flex items-center justify-between">
                <div class="w-[525px] ">
                    <p class="text-[#424356] text-[18px] font-normal leading-[200%] mb-5 rtl:text-right ltr:text-left">
                        {{ __('messages.attractive_design') }}
                    </p>
                </div>
                <div>
                    <p
                        class="text-[#424356] text-[36px] font-extrabold leading-[200%] mb-5 rtl:text-right ltr:text-left">
                        {{ __('messages.custom_design') }}
                    </p>
                </div>
            </div>
    </div>



    <!-- for mobile -->
    <div class="items-fetures-mobile flex flex-col mt-20 ps-2">
        <div class="flex flex-col gap-3 child-items-features-mobile">
            <div>
                <p
                    class="text-[#424356] sm:text-[25px] text-[20px] font-[900] leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.ui_elements') }}
                </p>
            </div>
            <div class="w-full h-[130px]">
                <p
                    class="text-[#424356] sm:text-lg text-[14px] font-normal leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.ui_elements_description') }}
                </p>
            </div>
        </div>

        <div class="flex flex-col gap-3 child-items-features-mobile">
            <div>
                <p
                    class="text-[#424356] sm:text-[25px] text-[20px] font-[900] leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.custom_design') }}
                </p>
            </div>
            <div class="w-full h-[130px]">
                <p
                    class="text-[#424356] sm:text-lg text-[14px] font-normal leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.custom_design_description') }}
                </p>
            </div>
        </div>

        <div class="flex flex-col gap-3 child-items-features-mobile">
            <div>
                <p
                    class="text-[#424356] sm:text-[25px] text-[20px] font-[900] leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.responsive_design') }}
                </p>
            </div>
            <div class="w-full h-[150px]">
                <p
                    class="text-[#424356] sm:text-lg text-[14px] font-normal leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.responsive_design_description') }}
                </p>
            </div>
        </div>

        <div class="flex flex-col gap-3 child-items-features-mobile">
            <div>
                <p
                    class="text-[#424356] sm:text-[25px] text-[20px] font-[900] leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.free_updates') }}
                </p>
            </div>
            <div class="w-full h-[130px]">
                <p
                    class="text-[#424356] sm:text-lg text-[14px] font-normal leading-[200%] mb-5 rtl:text-right ltr:text-left">
                    {{ __('messages.free_updates_description') }}
                </p>
            </div>
        </div>

        <div class="flex flex-col gap-7">
            <div>
                <p
                    class="text-[#424356] sm:text-[25px] text-[20px] font-[900] leading-[200%] mb-4 rtl:text-right ltr:text-left">
                    {{ __('messages.clean_code') }}
                </p>
            </div>
            <div class="w-full">
                <p
                    class="text-[#424356] sm:text-lg text-[14px] font-normal leading-[200%] rtl:text-right ltr:text-left">
                    {{ __('messages.clean_code_description') }}
                </p>
            </div>
        </div>
    </div>




</section>
<!-- end #sece testimonials -->



<!-- #sec9 contact -->
<section id="contact" class="py-20 mt-5">
    <div class="mx-auto text-center">
        <!-- Digital Experience Heading -->
        <h6 class="text-[#424356] mb-8 text-[35px] sm:text-[64px] text-[20px]">
            {{ __('messages.contact_us') }}
        </h6>

        <!-- Descriptive Text -->
        <p
            class="text-[#424356] sm:text-[18px] sm:w-[617px] w-[100%] text-[14px] mx-auto font-medium leading-[36.54px] mb-8">
            {{ __('messages.contact_description') }}
        </p>

        <!-- Contact Form -->
        <form action="{{ route('contact.store') }}" method="POST" class="mt-8 space-y-6 sm:p-14 p-4"
            style="max-width: 1060px; height: auto; border-radius: 8px; background: #DEE0F9; margin: 0 auto; direction: rtl; box-shadow: 10px 11px 33.7px 0px rgba(110, 111, 128, 0.12);">
            @csrf
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <span class="block rtl:text-right ltr:text-left mb-2 text-[16px] text-[#424356]">
                        <span class="text-red-500">*</span>
                        {{ __('messages.name') }}
                    </span>
                    <div class="flex items-center">
                        <input type="text" name="name"
                            class="border border-[#C3CAD9] ltr:text-left  rounded-md p-2 w-full h-[56px] flex-shrink-0 max-w-full"
                            style="max-width: 100%;" required />
                    </div>
                </div>
                <div>
                    <span class="block rtl:text-right ltr:text-left mb-2 text-[16px] text-[#424356]">
                        <span class="text-red-500">*</span>
                        {{ __('messages.email') }}</span>
                    <div class="flex items-center">
                        <input type="email" name="email"
                            class="border border-[#C3CAD9] ltr:text-left  rounded-md p-2 w-full h-[56px] flex-shrink-0 max-w-full"
                            style="max-width: 100%;" required />
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <span class="block rtl:text-right ltr:text-left mb-2 text-[16px] text-[#424356]">
                        <span class="text-red-500">*</span>
                        {{ __('messages.phone_number') }}</span>
                    <div class="flex items-center">
                        <input type="tel" name="phone_number"
                            class="border border-[#C3CAD9] ltr:text-left  rounded-md p-2 w-full h-[56px] flex-shrink-0 max-w-full"
                            style="max-width: 100%;" required />
                    </div>
                </div>
                <div>
                    <span class="block rtl:text-right ltr:text-left mb-2 text-[16px] text-[#424356]">{{
                        __('messages.company_name') }} ({{ __('messages.optional') }})</span>
                    <div class="flex items-center">
                        <input type="text" name="company_name"
                            class="border border-[#C3CAD9] ltr:text-left  rounded-md p-2 w-full h-[56px] flex-shrink-0 max-w-full"
                            style="max-width: 100%;" />
                    </div>
                </div>
            </div>
            <div>
                <span class="block rtl:text-right ltr:text-left mb-3 text-[16px] text-[#424356]">
                    <span class="text-red-500">*</span>
                    {{ __('messages.message') }}</span>
                <textarea name="message" placeholder="{{ __('messages.type_your_message') }}"
                    class="border ltr:text-left  border-[#C3CAD9] rounded-md p-2 w-full h-[200px] flex-shrink-0 max-w-full"
                    style="max-width: 100%;" required></textarea>
            </div>

            <div class="flex justify-center">
                <button
                    class="rounded-[20px] bg-[#4D63EB] text-white text-center sm:text-[18px] text-[14px] font-medium leading-[36.54px] sm:-mb-4 mb-4 sm:w-[321px] w-[90%] sm:py-2 py-1 shadow-md hover:bg-[#424356] hover:text-white transition-all duration-400 ease-in-out">
                    {{ __('messages.button') }}
                </button>
            </div>
        </form>
    </div>

</section>
<!-- end #sec7 contact -->

</div>
<!-- end container  -->