/* ============= General Styling ============= */
body {
    font-family: 'Alexandria', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background: linear-gradient(90deg, #EDF2F8 2.74%, #EDF2F8 100%) !important;
    direction: rtl;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4D63EB;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4D63EB;
}



h3,
h4,
h5,
h6 {
    font-family: 'Alexandria', sans-serif !important;
    font-weight: 900 !important;
}

.max-w-screen-md {
    max-width: 900px !important;
}


/* ============= Loading Page ============= */

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    background: #4D63EB;
    z-index: 9999999999999;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}

#svg {
    height: 100%;
    width: 100px;
    stroke: #fff;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke-dasharray: 500;
    animation: draw 25s ease;
    -webkit-animation: draw 25s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}





/* ============= Top ============= */
.icons {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    background-color: #4D63EB;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icons img {
    width: 37px;
}




/* ============= Navigation Styling ============= */

nav {
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(17.5px);
    height: auto !important;
    box-shadow: rgba(0, 0, 0, 0.096) 0px 1px 4px;
}

.nav-li-active {
    color: #4D63EB;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.nav-li-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 36px;
    width: 100%;
    height: 2px;
    background-color: #4D63EB;
    stroke-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nav-li {
    color: #424356;
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    padding-bottom: 5px;
}

.nav-li::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #4D63EB;
    top: 36px;
    transition: width 0.3s ease;
}

.nav-li:hover::after {
    width: 100%;
    top: 36px;
}

.nav-li:hover,
.footer-li:hover {
    color: #4D63EB;
    cursor: pointer;
    transition: color 0.3s;
}


/* ============= Project Cards ============= */
.no-scrollbar {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* ============= Fetures ============= */


.items-fetures-mobile {
    position: relative;
    display: none !important;
}

.before-test::before {
    content: "";
    display: block;
    height: 100%;
    background-color: black;
    margin-bottom: 10px;
    width: 2px;
    position: absolute;
    right: -10px;
    z-index: 9999;

}

.items-fetures-mobile::before {
    content: "";
    display: block;
    height: 100%;
    background-color: black;
    margin-bottom: 10px;
    width: 2px;
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 9999;
}



/* ============= Steps Heading ============= */
.steps-heading {
    color: #424356;
    text-align: center;
    font-size: 5vw;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
}



/* ============= Footer Styling ============= */
footer {
    background-color: #424356;
    color: white;
}



.footer-li {
    color: #fff;
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
}

.footer-li::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    top: 25px;
    background-color: #4D63EB;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

.footer-li:hover::after {
    width: 100%;
    top: 25px;
}

.footer-li:hover {
    color: #4D63EB;
    cursor: pointer;
    transition: color 0.3s;
}




.box-test {

    display: flex;
    justify-content: center;
    align-items: end;
}

.circle-mobile {
    display: none !important;
}


/* ============= Media Queries ============= */

/* ============= Phone ============= */
@media (max-width: 576px) {
    .circle-mobile {
        display: block !important;
    }

    nav {
        margin: 35px 20px !important;
        padding-top: 12px !important;
    }

    .steps-heading {
        font-size: 24px !important;
    }

    .ul-footer {
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
    }

    .items-fetures {
        display: none !important;
    }

    .items-fetures-mobile {
        display: block !important;
    }

    .text-responsive {
        width: 100% !important;
    }

    .head-resposive {
        width: 100% !important;
        text-align: center !important;
        font-size: 30px !important;
    }

    .project-cards {
        overflow: hidden !important;
        width: 100% !important;
        height: auto !important;
        flex-direction: column !important;
        gap: 20px !important;

    }

    .project {
        width: 100% !important;
    }

    .box-test {

        flex-direction: column !important;
        align-items: center !important;
    }

    .box-test svg,
    .test-img {
        width: 100% !important;

    }


}

/* ============= Tablet ============= */
@media (min-width: 576px) and (max-width: 768px) {
    .steps-heading {
        font-size: 36px !important;
    }

    .items-fetures {
        display: none !important;
    }

    .items-fetures-mobile {
        display: block !important;
    }

    .text-responsive {
        width: 100% !important;
        text-align: center !important;
    }

    .head-resposive {
        width: 100% !important;
        text-align: center !important;
        font-size: 30px !important;
    }

    .box-test {

        flex-direction: column !important;
        align-items: center !important;
    }

}

/* ============= Laptop ============= */
@media (min-width: 768px) and (max-width: 992px) {
    .steps-heading {
        font-size: 48px !important;
    }
}

/* ============= Desktop ============= */
@media (min-width: 992px) and (max-width: 1200px) {
    .steps-heading {
        font-size: 54px !important;
    }
}

/* ============= Large Desktop ============= */
@media (min-width: 1200px) {
    .steps-heading {
        font-size: 60px !important;
    }
}

@media (max-width: 1010px) {
    .circle-desk {
        display: none !important;
    }


}